*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    place-items: center;
    background-color: rgb(190, 229, 255);
    margin: 2rem 24rem;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 1.5rem -1.7rem rgba(0, 0, 0, 0.8);
}

body{
    overflow: hidden;
}
.userInput{
    padding: .5rem;
    border-radius: .23rem;
    border: none;
    outline: none;
    width:29vw;
}

.userLabel{
    padding:.51rem;
}

.btn{
    margin-top: 2rem;
    padding:.8rem;
    width: 8rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: white;
}

.btn:focus{
    background-color:rgb(59, 174, 250);
    color: white;
}

.error{
    color:red;
    margin-top: 2rem;
    font-size: large;
}

.dataInDatabase{
    background-color: rgb(250, 162, 162);
    margin: -37rem 2rem;
    margin-right: 59rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 1.5rem -1.7rem rgba(0, 0, 0, 0.8);
}

.userInput1{
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
}

.userLabel1{
    padding: 5rem;
}

.btn1{
    margin-top: .67rem;
    margin-left: 2rem;
    padding: .8rem;
    width: 9rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: white;
}

.btn1:focus{
    background-color: red;
    color: white;
}

.updateData{
    background-color: rgb(207, 163, 248);
    padding: 3rem;
    margin: 6rem 1rem;
    margin-left: 58rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 1.5rem -1.7rem rgba(0, 0, 0, 0.8);
}

.userLabel2{
   margin: 6rem;
}

.userInput2{
    padding: 1rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}

.btn2{
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 10rem;
}

.btn2:focus{
    background-color: blueviolet;
    color: white;
}